.pts-header {
    margin: 0;
    font-size: 2.5rem;
    line-height: 25px;
    margin-top: 20px !important;
}

.pts-subheader {
    color: darkgray;
    font-size: .75em;
    letter-spacing: 2px;
}

.login-grid {
    height: 85%;
}

.commons-login-secondary-btn {
    background: none !important;
    border: none !important;
    padding: 0 !important;
    cursor: pointer !important;
    display: block !important;
    margin-left: auto !important;
    margin-right: auto !important;
    margin-top: 2% !important;
    color: #4183c4 !important;
    padding-left: 1% !important;
    padding-right: 1% !important;
}

.commons-login-secondary-btn:focus {
    background-color: rgba(204, 204, 204, 0.5) !important;
}