body {
    margin: 0;
    padding: 0;
    min-height: 100%;
    background-color: #F2F2F2 !important;
    width:100%;
    overflow-x: hidden;
    overflow-y: scroll;
}

.App {
    min-height: 100%;
    width: 100%;
    flex: 1 0 auto;
    box-sizing: border-box;
}

.conductor {
    height: 100vh;
}

.component-container {
    margin: calc(60px + 2%) 2% 0 2% !important;
    width: calc(100% - 4%) !important;
    z-index: 50;
}

.component-header {
    font-size: 2.5em !important;
}

.component-innercontainer {
    padding: 0 1% 0 1% !important;
}

.library-glyph {
    width: 1.18em;
    margin-right: 0.5rem !important;
    display: inline-block !important;
}

.fullheight-menu {
    height: 100% !important;
}

.button-float-right {
    display: inherit !important;
    margin-left: auto !important;
}

.container-hidden {
    display: none !important;
}

.gray-span {
    color: gray;
    font-size: 75%;
}

.formheader {
    margin: 2% 0 2% 0 !important;
}

.resource-id-span {
    color: gray;
    float: right;
}

.pane-segment {
    padding: 0 !important;
}

.text-link {
    color: #4183c4;
}

.text-link:hover {
    cursor: pointer;
}

.bkgrd-gray {
    background-color: #F9F9F9 !important;
}


/* Helper Classes */
.form-required::after {
    margin: -.2em 0 0 .2em;
    content: '*';
    color: #db2828;
    display: inline-block;
    vertical-align: top;
}

.text-center {
    text-align: center;
}

.pointer-hover:hover {
    cursor: pointer;
}

/** margin-top **/
.mt-1p {
    margin-top: 1% !important;
}

.mt-1r {
    margin-top: 1rem !important;
}

.mt-2p {
    margin-top: 2% !important;
}

.mt-2r {
    margin-top: 2rem !important;
}

/** margin-bottom **/
.mb-1p {
    margin-bottom: 1% !important;
}

.mb-1r {
    margin-bottom: 1rem !important;
}

.mb-2p {
    margin-bottom: 2% !important;
}

.mb-2r {
    margin-bottom: 2rem !important;
}

.mb-4r {
    margin-bottom: 4rem !important;
}

/** margin-left **/
.ml-1p {
    margin-left: 1% !important;
}

.ml-1r {
    margin-left: 1rem !important;
}

.ml-2p {
    margin-left: 2% !important;
}

.ml-2r {
    margin-left: 2rem !important;
}

/** margin-right **/
.mr-1p {
    margin-right: 1% !important;
}

.mr-1r {
    margin-right: 1rem !important;
}

.mr-2p {
    margin-right: 2% !important;
}

.mr-2r {
    margin-right: 2rem !important;
}




.float-right {
    float: right !important;
}

.muted-text {
    color: #6c757d !important;
}

.center-block {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.flex-row-div {
    display: flex;
    flex-direction: row;
}

.left-flex {
    display: flex;
    flex: 1;
    justify-content: flex-start;
    align-items: center;
}

.center-flex {
    display: flex;
    flex: 1;
    justify-content: center;
    align-items: center;
}

.right-flex {
    display: flex;
    flex: 1;
    justify-content: flex-end;
    align-items: center;
}

.flex-wrap {
    flex-wrap: wrap;
}

.clear-grid {
    clear: both !important;
}

.multiline-display {
    white-space: pre-line !important;
}
