.menu-avatar {
    margin-bottom: 2%;
    height: 4em !important;
    width: 4em !important;
}

.recent-announcement-title {
    margin-bottom: 1% !important;
}

.author-info-span {
    display: block;
    margin-top: 1%;
}

.dashboard-header-link:hover {
    cursor: pointer !important;
}

.announcements-header {
    display: inline-block !important;
}

.dashboard-list-item {
    cursor: pointer !important;
}

.announcement-feed {
    margin-left: 1em !important;
    margin-right: 1em !important;
}

.announcement {
    border-bottom: 1px solid rgba(34,36,38,.15);
    padding: 1% 0 1% 0 !important;
    margin-bottom: 0.5em !important;
}

.announcement:hover {
    cursor: pointer !important;
}

.announcement-content {
    margin-top: 0 !important;
}

.announcement-text {
    margin-top: 0.5em;
}

.announcement-details {
    display: block !important;
    margin: 0 !important;
}

.announcement-view-text {
    margin: 1em 0 1em 0;
}
