.controlpanel-container {
    margin: calc(60px + 2%) 1% 0 1% !important;
    width: calc(100% - 2%) !important;
    z-index: 50;
}

.menu-avatar {
    margin-bottom: 2%;
    height: 4em !important;
    width: 4em !important;
}

.recent-announcement-title {
    margin-bottom: 1% !important;
}

.author-info-span {
    display: block;
    margin-top: 1%;
}

.home-header-link:hover {
    cursor: pointer !important;
}

.announcements-header {
    display: inline-block !important;
}

.home-list-item {
    cursor: pointer !important;
}

#adoptionreports-filteroptions {
    display: flex;
    flex-direction: row;
}

.peerreview-rubricedit-placeholder {
    margin-top: 4%;
    box-shadow: 0 2px 25px 0 rgb(34 36 38 / 5%) inset;
    background: #f9fafb;
    padding: 1%;
    border: 1px solid rgba(34, 36, 38, .15);
    border-radius: .28571429rem;
}

.peerreview-rubricedit-container {
    margin: 2% 0.5% 0;
    padding: 2% 1% 2%;
    background: #fbfcfc;
    box-shadow: 0 2px 25px 0 rgb(34 36 38 / 2%) inset;
    border-radius: .28571429rem;
    border: 1px solid rgba(34, 36, 38, .1);
}

.peerreview-rubricedit-editblockbtn {
    width: 175px;
}

.peerreview-rubricedit-label {
    padding: 0.05em 1em 0.05em 0.05em !important;
}

.controlpanel-branding-color-preview-wrapper {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.controlpanel-branding-color-preview-box {
    width: 15px;
    height: 15px;
    border: 0.5px solid black;
    border-radius: 2px;
    margin-left: 5px;
}