.dproject-table-link {
    color: black;
}

.filterby-span {
    margin-right: 1% !important;
}

.project-detail-titleheader {
    color: #585858;
}

.project-detail-text {
    font-size: 1.1em !important;
}

.project-updates-grid {
    margin-top: 5% !important;
}

.component-graybackground {
    background-color: #A9A9A9 !important;
}

.dev-aiofeed {
    background-color: #E9E9E9 !important;
    padding: 2% 2% 2% 2% !important;
    -moz-box-shadow: inset 0 0 1px #999999;
    -webkit-box-shadow: inset 0 0 1px #999999;
    box-shadow: inset 0 0 1px #999999;
}
