/* Welcome Menu */
.menu-avatar {
    margin-bottom: 2%;
    height: 4em !important;
    width: 4em !important;
}

.home-mobile-welcome {
    align-items: center;
}

.home-mobile-welcome > .menu-avatar {
    margin: 0;
}

.home-mobile-welcome > h1 {
    margin: 0 0 0 0.5em !important;
}

/* Your Projects */
.project-card-title {
    font-size: 1.15em !important;
    color: rgba(0,0,0,.85);
    font-weight: 600;
}

.project-card-lastupdate {
    font-size: 0.9em !important;
    margin-top: 0.2em;
    margin-bottom: 1em;
}

.project-card-content {
    padding: 1em;
    flex-grow: 1;
}

.project-card-content > div {
    flex: 1;
}

.project-card-progress-container {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    padding-left: 4%;
    padding-right: 4%;
}

/* Announcements */

.announcement:hover {
    cursor: pointer !important;
}

.announcement:not(:last-child) {
    border-bottom: 1px solid rgba(34,36,38,.15);
}

.announcement:not(:first-child) {
    margin-top: 4%;
}

.announcement-text {
    padding: 0.75em;
}

.announcement-view-text {
    margin: 1em 0 1em 0;
}

.announcement-avatar-container {
    display: flex;
    align-items: flex-start;
}

.announcement-meta-container {
    margin-left: 2%;
}

.announcement-meta-title {
    font-size: 1em;
    font-weight: 650;
}

.announcement-meta-date {
    font-size: .85714286em;
}

.announcements-list {
    padding: 0.5em 1em 0.5em;
}