.filterby-span {
    margin-right: 1% !important;
}

.project-detail-titleheader {
    color: #585858;
}

.project-detail-text {
    font-size: 1.1em !important;
}

.project-updates-grid {
    margin-top: 5% !important;
}
