.menu-avatar {
    margin-bottom: 2%;
    height: 4em !important;
    width: 4em !important;
}

.recent-announcement-title {
    margin-bottom: 1% !important;
}

.author-info-span {
    display: block;
    margin-top: 1%;
}

.dashboard-header-link:hover {
    cursor: pointer !important;
}

.announcements-header {
    display: inline-block !important;
}

.dashboard-list-item {
    cursor: pointer !important;
}

#adoptionreports-filteroptions {
    display: flex;
    flex-direction: row;
}

.booksmanager-options {
    display: flex;
    flex-direction: row;
}

.booksmanager-options-left {
    display: flex;
    flex: 1;
    justify-content: flex-start;
    align-items: center;
}

.booksmanager-options-center {
    display: flex;
    flex: 1;
    justify-content: center;
    align-items: center;
}

.booksmanager-options-right {
    display: flex;
    flex: 1;
    justify-content: flex-end;
    align-items: center;
}
