.menu-avatar {
    margin-bottom: 2%;
    height: 4em !important;
    width: 4em !important;
}

.recent-announcement-title {
    margin-bottom: 1% !important;
}

.author-info-span {
    display: block;
    margin-top: 1%;
}

.dashboard-header-link:hover {
    cursor: pointer !important;
}

.announcements-header {
    display: inline-block !important;
}

.dashboard-list-item {
    cursor: pointer !important;
}

#adoptionreports-filteroptions {
    display: flex;
    flex-direction: row;
}
