#conductor-chat {
    display: flex;
    flex: 1;
    flex-direction: column;
}

#conductor-chat-msgs-header-container {
    display: flex;
    border-bottom: 1px solid rgba(34,36,38,.15);
    min-height: 55px;
    max-height: 55px;
    align-items: center;
    padding-left: 2%;
    -webkit-box-shadow: 0 5px 5px -5px rgb(224, 224, 224);
    box-shadow: 0 5px 5px -3px rgb(224, 224, 224);
}

#conductor-chat-msgs-header-options {
    padding-right: 0.5%;
}

#conductor-chat-window {
    background-color: rgba(251, 251, 251, 0.5);
    padding: 2%;
    height: 100%;
    overflow-y: scroll;
    overflow-x: hidden;
    min-height: 250px;
}

#conductor-chat-msgs {
    min-width: 100%;
}

.conductor-chat-msg {
    margin-bottom: 1em;
}

.conductor-chat-msg-body a {
    word-break: break-all;
}

.conductor-chat-del:hover {
    color: red !important;
}

#conductor-chat-reply-container {
    border-top: 1px solid rgba(34,36,38,.15);
    -webkit-box-shadow: 0 -5px 5px -5px rgb(224, 224, 224);
    box-shadow: 0 -5px 5px -5px rgb(224, 224, 224);
    padding: 0.5em;
    display: flex;
    flex-direction: row;
    max-height: 145px;
}

#conductor-chat-reply-container textarea {
    min-height: calc(50px + 0.25em) !important;
    max-height: calc(100px - 0.5em) !important;
}

#replycontainer-left {
    flex: 1;
}

#replycontainer-right {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    padding-left: 0.5em;
}

#replycontainer-sendbutton {
    margin: 0;
    height: 40px !important;
}

#replycontainer-notifydropdown {
    margin-top: 0.25em;
}