#uploader_form {
  height: 16rem;
  min-width: 100%;
  position: relative;
  text-align: center;
}

#uploader_input {
  display: none;
}

#uploader_label {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border: 1px solid #CACBCD;
  border-radius: .28571429rem;
  background-color: #F9FAFB;
}

#uploader_label.drag_active {
  background-color: #CACBCD;
}

#uploader_drag_area {
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: .28571429rem;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

#uploader_instructions {
  font-size: 1.05em;
  margin: 1em 0;
}