#commons-jumbotron {
  /* Background image is set dynamically */
  z-index: 50; /* Appear underneath menu */
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 20rem;
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
}
