/**
 * Commons.css
 * Styles relevant to the Commons
 */

/* Containers */
.commons-container {
    margin: 1% !important;
    width: calc(100% - 2%);
}

/* Navigation */
#commons-nav {
    z-index: 100; /* Layer over jumbotron */
    position: relative;
    width: 100%;
    height: 60px;
    margin: 0;
    padding: 0;
    background-color: #FFFFFF;
    -webkit-box-shadow: 0px 2px 4px 2px rgba(51, 50, 50, 0.59);
    box-shadow: 0px 2px 4px 2px rgba(51, 50, 50, 0.59);
}

#commons-nav-logo {
    width: auto;
    max-height: 50px;
    padding-top: 1%;
    padding-bottom: 1%;
}

#commons-nav-orglogo {
    width: auto;
    max-height: 30px;
    margin-left: 1rem;
}

#commons-nav-rightmenu {
    padding-right: 1rem;
}

#commons-mobilenav {
    z-index: 100; /* Layer over jumbotron */
    position: relative;
    width: 100%;
    height: 80px;
    margin: 0;
    padding: 0;
    background-color: #FFFFFF;
    -webkit-box-shadow: 0px 2px 4px 2px rgba(51, 50, 50, 0.59);
    box-shadow: 0px 2px 4px 2px rgba(51, 50, 50, 0.59);
    display: flex;
}

#commons-mobilenav-logo {
    max-height: 60px;
    width: auto;
    margin-left: 1em;
}

#commons-mobilenav-left {
    display: flex;
    flex: 1;
    justify-content: flex-start;
    align-items: center;
}

#commons-mobilenav-right {
    display: flex;
    flex: 1;
    justify-content: flex-end;
    align-items: center;
}

#commons-mobilenav-menubtn {
    height: 40px;
    width: 40px;
}

#commons-mobilenav-menu {
    z-index: 100; /* Layer over jumbotron */
    position: absolute;
    top: 80px;
    left: 0;
    width: 100%;
    margin: 0;
    padding: 0;
    background-color: #FFFFFF;
}

#commons-mobilenav-libmenu {
    -webkit-box-shadow: 0px 2px 4px 2px rgba(51, 50, 50, 0.1);
    box-shadow: 0px 2px 4px 2px rgba(51, 50, 50, 0.1);
    clip-path: polygon(0% 0%, 100% 0%, 100% 120%, 0% 120%);
}

/* Jumbotron */
#commons-jumbotron {
    /* Background image is set dynamically */
    z-index: 50; /* Appear underneath jumbotron*/
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 30rem;
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
}

#commons-jumbotron-logo {
    max-width: 550px;
    height: auto;
}

#commons-jumbotron-inner {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#commons-header {
    font-size: 2.5rem;
    color: #FFFFFF;
    text-align: center;
    padding-top: 1.75rem;
}

#commons-libreheader {
    font-size: 3.5rem;
    color: #FFFFFF;
    text-align: center;
    margin: 0;
}

#commons-libresubheader {
    text-align: center;
    color: #C5C5C5;
    margin: 0;
}

/* Commons Menu */
#commons-menu {
    display: flex;
    margin: 0;
    background-color: #0A7CC5;
    width: 100%;
    height: 50px;
    -webkit-box-shadow: 2px 2px 3px 0px #999999;
    box-shadow: 2px 2px 3px 0px #999999;
}

.commons-menu-item {
    color: #FFFFFF !important;
    height: 100% !important;
}

#commons-menu-left {
    display: flex;
    flex: 1;
    justify-content: flex-start;
    align-items: center;
}

#commons-menu-center {
    display: flex;
    flex: 1;
    justify-content: center;
    align-items: center;
}

#commons-menu-right {
    display: flex;
    flex: 1;
    justify-content: flex-end;
    align-items: center;
}

#commons-menu-pointing {
    height: 50px;
}

#commons-mobilelinks {
    margin: 0;
    padding: 0;
    background-color: #0A7CC5;
    color: #FFFFFF;
    text-align: center;
}

.commons-mobilelinks-item {
    margin: 0 !important;
}

#commons-mobilemenu {
    margin: 0;
    padding: 0;
    background-color: #0A7CC5;
    color: #FFFFFF;
}

/** Override pointing menu colors **/
.ui.secondary.pointing.menu .active.item {
    border-color: #FFFFFF;
}

.ui.secondary.pointing.menu .active.item:hover {
    border-color: #C9C9C9;
}


/* Filters and Pagination */
.commons-search-input {
    color: #0A7CC5 !important;
    box-shadow: 0px 0px 1px 0px #c2c2c2 !important;
    -webkit-box-shadow: 0px 0px 1px 0px #c2c2c2 !important;
}

.commons-search-button {
    background-color: #0A7CC5 !important;
    color: #FFFFFF !important;
    height: 40px !important;
}

#commons-librecommons-intro-header {
    font-size: 1.5em;
}

#commons-librecommons-intro {
    font-size: 1.1em;
}

.commons-search-intro {
    font-size: 1.2em;
}

#commons-filters-desktop {
    display: flex;
    flex: 1;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.commons-filter {
    margin-top: 0.25rem !important;
}

.commons-content-pagemenu {
    display: flex;
    height: 40px;
}

.commons-content-pagemenu-left {
    display: flex;
    flex: 1;
    justify-content: flex-start;
    align-items: center;
}

.commons-content-pagemenu-center {
    display: flex;
    flex: 1;
    justify-content: center;
    align-items: center;
}

.commons-content-pagemenu-right {
    display: flex;
    flex: 1;
    justify-content: flex-end;
    align-items: center;
}

.commons-content-pagemenu-dropdown {
    margin-left: 1rem;
    margin-right: 1rem;
    min-width: 5em !important;
}

#commons-pagination-mobile-container {
    display: flex;
    justify-content: center;
}

/* Content */
#commons-book-image {
    height: auto;
    width: 100%;
}

#commons-book-details {
    margin: 1rem 0 1rem 0;
}

#commons-book-mobile-image {
    height: auto;
    max-width: 75%;
}

#commons-book-mobiledetails {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: middle;
    text-align: center;
}

.commons-book-mobile-detail {
    margin-left: 0.5rem;
    margin-right: 0.5rem;
}

#commons-book-actions {
    margin-top: 1rem;
}

#commons-book-mobile-readoptions .button:first-child {
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}

.commons-content {
    background-color: #F4F4F4 !important;
}

.commons-content-itemized {
    padding: 0 !important;
}

.commons-content-card-img img {
    height: 200px !important;
}


/* Powered By (for Campus Commons) */
#commons-poweredby-tagline {
    margin: 0;
}

/* Footer */
#commons-footer {
    background-color: #ccecfd;
    padding: 0 0 1.5em 0;
    margin: 0;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    -webkit-box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}

.commons-footer-sponsor {
    padding-top: 0.25em;
    padding-bottom: 0.25em;
    height: 120px;
    width: auto;
}

.commons-footer-widesponsor {
    height: auto;
    width: 95%;
}

#commons-sponsor-row {
    padding-left: 0.25em;
    padding-right: 0.25em;
}

.commons-footer-contactlinks {
    font-size: 1.25rem;
    margin-left: 1rem;
    margin-right: 1rem;
}


/* Responsive Styles */

/* Small to medium devices (under 768px) */
@media only screen and (max-width: 768px) {
    #commons-jumbotron-logo {
        max-width: 75%;
        height: auto;
    }
}
