/**
 * Commons.css
 * Styles relevant to the Commons
 */


.commons-itemized-glyph {
    width: 1.18em;
}

/* Containers */
.commons-container {
    margin: 1% !important;
    width: calc(100% - 2%);
}

/* Navigation */
#commons-nav {
    z-index: 100; /* Layer over jumbotron */
    position: relative;
    width: 100%;
    height: 60px;
    margin: 0;
    padding: 0;
    background-color: #FFFFFF;
    -webkit-box-shadow: 0px 2px 4px 2px rgba(51, 50, 50, 0.59);
    box-shadow: 0px 2px 4px 2px rgba(51, 50, 50, 0.59);
}

#commons-nav-logo {
    width: auto;
    max-height: 50px;
    padding-top: 1%;
    padding-bottom: 1%;
}

#commons-nav-orglogo {
    width: auto;
    max-height: 30px;
    margin-left: 1rem;
}

#commons-nav-rightmenu {
    padding-right: 1rem;
}

.commons-nav-link {
    font-size: 1.05em;
}

#commons-nav-campusdropdown > i {
    margin-left: 0.25em;
}

#commons-nav-mobileavatar {
    height: 20px;
    width: 20px;
    margin: 0;
}

#commons-mobilenav {
    z-index: 100; /* Layer over jumbotron */
    position: relative;
    width: 100%;
    height: 80px;
    margin: 0;
    padding: 0;
    background-color: #FFFFFF;
    -webkit-box-shadow: 0px 2px 4px 2px rgba(51, 50, 50, 0.59);
    box-shadow: 0px 2px 4px 2px rgba(51, 50, 50, 0.59);
    display: flex;
}

#commons-mobilenav-logo {
    max-height: 60px;
    width: auto;
    margin-left: 1em;
}

#commons-mobilenav-left {
    display: flex;
    flex: 1;
    justify-content: flex-start;
    align-items: center;
}

#commons-mobilenav-right {
    display: flex;
    flex: 1;
    justify-content: flex-end;
    align-items: center;
}

#commons-mobilenav-menubtn {
    height: 40px;
    width: 40px;
}

#commons-mobilenav-menu {
    z-index: 100; /* Layer over jumbotron */
    position: absolute;
    top: 80px;
    left: 0;
    width: 100%;
    margin: 0;
    padding: 0;
    background-color: #FFFFFF;
}

#commons-mobilenav-libmenu {
    -webkit-box-shadow: 0px 2px 4px 2px rgba(51, 50, 50, 0.1);
    box-shadow: 0px 2px 4px 2px rgba(51, 50, 50, 0.1);
    clip-path: polygon(0% 0%, 100% 0%, 100% 120%, 0% 120%);
}

/* Jumbotron */
#commons-jumbotron {
    /* Background image is set dynamically */
    z-index: 50; /* Appear underneath jumbotron*/
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 21rem;
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
}

#commons-jumbotron-logo {
    max-width: 425px;
    height: auto;
}

#commons-jumbotron-inner {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#commons-header {
    font-size: 2.5rem;
    color: #FFFFFF;
    text-align: center;
    padding-top: 1.75rem;
}

#commons-libreheader {
    font-size: 3.5rem;
    color: #FFFFFF;
    text-align: center;
    margin: 0;
}

#commons-libresubheader {
    text-align: center;
    color: #C5C5C5;
    margin: 0;
    font-size: 1.75em;
}

/* Commons Menu */
#commons-menu {
    display: flex;
    margin: 0;
    background-color: #127BC4;
    width: 100%;
    height: 50px;
    -webkit-box-shadow: 2px 2px 3px 0px #999999;
    box-shadow: 2px 2px 3px 0px #999999;
}

.commons-menu-item {
    color: #FFFFFF !important;
    height: 100% !important;
    font-size: 1.1em;
}

#commons-menu-left {
    display: flex;
    flex: 1;
    justify-content: flex-start;
    align-items: center;
}

#commons-menu-center {
    display: flex;
    flex: 1;
    justify-content: center;
    align-items: center;
}

#commons-menu-right {
    display: flex;
    flex: 1;
    justify-content: flex-end;
    align-items: center;
}

#commons-menu-pointing {
    height: 50px;
}

#commons-mobilelinks {
    margin: 0;
    padding: 0;
    background-color: #127BC4;
    color: #FFFFFF;
    text-align: center;
}

.commons-mobilelinks-item {
    margin: 0 !important;
}

#commons-mobilemenu {
    margin: 0;
    padding: 0;
    background-color: #127BC4;
    color: #FFFFFF;
}

/** Override pointing menu colors **/
.ui.secondary.pointing.menu .active.item {
    border-color: #FFFFFF;
}

.ui.secondary.pointing.menu .active.item:hover {
    border-color: #C9C9C9;
}

/* Catalog Branding */
#commons-intro-header {
    font-size: 1.5em;
}

#commons-intro-message {
    font-size: 1.1em;
}


/* Search and Filters */
#commons-searchbar-container {
    margin-top: 1rem;
    width: 100%;
    padding-left: 15%;
    padding-right: 15%;
}

#commons-search-input {
    box-shadow: 0px 0px 1px 0px #c2c2c2;
    -webkit-box-shadow: 0px 0px 1px 0px #c2c2c2;
}

#commons-searchbtns-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 1rem;
    width: 100%;
    padding-left: 25%;
    padding-right: 25%;
}

#commons-search-button {
    background-color: #127BC4 !important;
    color: #FFFFFF !important;
    height: 40px !important;
}

#commons-reset-button {
    margin-top: 1rem;
    margin-bottom: 1rem;
    height: 40px;
}

#commons-advancedsrch-button {
    background: none;
    border: none;
    margin: 0;
    padding: 0;
    cursor: pointer;
    font-family: inherit;
    font-size: 1.1rem;
    margin-top: 1.5rem;
    margin-bottom: 1rem;
}

#commons-advancedsrch-button i {
    margin: 0;
}

#commons-advancedsrch-button span {
    padding-left: 1%;
    padding-right: 1%;
}

#commons-advancedsrch-container {
    display: none;
}

.commons-advancedsrch-row {
    display: flex;
    flex: 1;
    flex-wrap: wrap;
    margin-top: 0.25em;
    justify-content: center;
    align-items: center;
}

.commons-advancedsrch-show {
    display: block !important;
}

.commons-advancedsrch-hide {
    display: none !important;
}

#commons-filters-desktop {
    display: flex;
    flex: 1;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.commons-filter {
    margin-top: 0.25rem !important;
}

/* Pagination */
.commons-content-pagemenu {
    display: flex;
    height: 40px;
}

.commons-content-pagemenu-left {
    display: flex;
    flex: 1;
    justify-content: flex-start;
    align-items: center;
}

.commons-content-pagemenu-center {
    display: flex;
    flex: 1;
    justify-content: center;
    align-items: center;
}

.commons-content-pagemenu-right {
    display: flex;
    flex: 1;
    justify-content: flex-end;
    align-items: center;
}

.commons-content-pagemenu-dropdown {
    margin-left: 1rem;
    margin-right: 1rem;
    min-width: 5em !important;
}

.commons-pagination-mobile-container {
    display: flex !important;
    justify-content: center !important;
}

/* Content */
#commons-book-image {
    height: auto;
    width: 100%;
}

#commons-book-details {
    margin: 1rem 0 1rem 0;
}

#commons-book-mobile-image {
    height: auto;
    max-width: 75%;
}

#commons-book-mobiledetails {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: middle;
    text-align: center;
}

.commons-book-mobile-detail {
    margin-left: 0.5rem;
    margin-right: 0.5rem;
}

#commons-book-mobile-readoptions .button:first-child {
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}

.commons-toc-pagelist {
    padding-left: 2% !important;
}

.commons-content {
    background-color: #F4F4F4 !important;
}

.commons-content-itemized {
    padding: 0 !important;
}

.commons-content-card-header {
    margin-bottom: .4em !important;
}

.commons-content-card-img img {
    height: 200px !important;
}

.commons-library-card {
    width: 175px !important;
}

.commons-library-card-img img {
    height: 175px !important;
    background-color: #FFFFFF;
}

.commons-book-summary {
    font-size: 1.07em;
}

.commons-book-toc {
    font-size: 1.07em;
}

.commons-book-clr-pie {
    width: 100%;
    max-height: 250px;
}

.commons-book-clr-lic-legend {
    margin: 0 0 0.5em;
}

.commons-book-clr-overview-flex {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-bottom: 0.5em;
}

.commons-book-clr-overview-flex > * {
    flex-grow: 1;
}

.commons-book-clr-overview-flex > .right {
    display: flex;
    justify-content: end;
}

.commons-book-clr-row:first-child {
    padding-top: 0.75em !important;
    padding-bottom: 0 !important;
}

.commons-book-clr-row:last-child {
    padding-top: 0 !important;
}

.commons-book-clr-grid {
    margin-left: 0.5rem !important;
}



/* Powered By (for Campus Commons) */
#commons-poweredby-tagline {
    margin: 0;
}

/* Footer */
#commons-footer {
    background-color: #ccecfd;
    padding: 0 0 1.5em 0;
    margin: 0;
    margin-top: 2%;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    -webkit-box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}

.commons-footer-sponsor {
    padding-top: 0.25em;
    padding-bottom: 0.25em;
    height: 120px;
    width: auto;
}

.commons-footer-widesponsor {
    height: auto;
    width: 95%;
}

#commons-sponsor-row {
    padding-left: 0.25em;
    padding-right: 0.25em;
}

.commons-footer-contactlinks {
    font-size: 1.25rem;
    margin-left: 1rem;
    margin-right: 1rem;
}


/* Responsive Styles */

/* Small to medium devices (under 768px) */
@media only screen and (max-width: 768px) {
    #commons-jumbotron-logo {
        max-width: 70%;
        height: auto;
    }

    #commons-searchbar-container {
        padding-left: 2%;
        padding-right: 2%;
    }

    #commons-searchbtns-container {
        padding-left: 10%;
        padding-right: 10%;
    }

    .commons-filter {
        display: block;
        width: 100%;
    }

    .commons-advancedsrch-row {
        margin-top: 1em;
    }

    .commons-library-card-img img {
        height: auto !important;
    }
}
