/* Welcome Menu */
.menu-avatar {
    margin-bottom: 2%;
    height: 4em !important;
    width: 4em !important;
}

/* Announcements */
.announcement:hover {
    cursor: pointer !important;
}

.announcement:not(:last-child) {
    border-bottom: 1px solid rgba(34,36,38,.15);
}

.announcement:not(:first-child) {
    margin-top: 4%;
}

.announcement-text {
    padding: 0.75em;
}

.announcement-view-text {
    margin: 1em 0 1em 0;
}

.announcement-avatar-container {
    display: flex;
    align-items: flex-start;
}

.announcement-meta-container {
    margin-left: 2%;
}

.announcement-meta-title {
    font-size: 1em;
    font-weight: 650;
}

.announcement-meta-date {
    font-size: .85714286em;
}

/* Edit Pinned Projects */
#edit-pinned-projects-content {
  min-height: 50vh;
}