.filterby-span {
    margin-right: 1% !important;
}

.project-detail-titleheader {
    color: #585858;
}

.project-detail-text {
    font-size: 1.1em !important;
}

.project-updates-grid {
    margin-top: 5% !important;
}

.project-progress-column {
    padding-left: 5% !important;
    padding-right: 5% !important;
}

.access-table-outer {
    display: flex;
    flex-direction: row;
    align-items: stretch;
}

.access-table-inner {
    flex: 1;
    overflow-x: scroll;
    overflow-y: scroll;
    max-height: 700px;
}

#project-manage-team-content {
    min-height: 50vh;
}

#access-table>thead>tr>th{
    text-align: center;
}

#access-table thead {
    position: sticky;
    top: 0;
    z-index: 2;
    -webkit-box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}
#access-add-cell {
    position: sticky;
    top: 0;
    z-index: 2;
}

#access-table tbody tr td:first-child {
    position: sticky;
    left: 0;
    z-index: 5;
    background: #F7F7F7;
    box-shadow: inset 0 1px 1px 0 rgba(0,0,0,0.14), 0 2px 1px -1px rgba(0,0,0,0.12), 0 1px 3px 0 rgba(0,0,0,0.20);
}

#access-table td, #access-table th {
    border-left: 1px solid rgba(34,36,38,.1);
    border-right: 1px solid rgba(34,36,38,.1);
}


#access-table-body {

}

.access-table-cell {
    min-width: 150px;
    text-align: center;
}

#project-accessibility-score-header {
    font-size: 1.18em;
    font-weight: 600;
}

.project-green-score {
    color: #21BA45 !important;
}

.project-yellow-score {
    color: #FBBD08 !important;
}

.project-red-score {
    color: #DB2828 !important;
}

#project-discussion-segment {
    padding: 0;
}

#project-discussion-container {
    display: flex;
    flex-direction: row;
    width: 100%;
    margin: 0;
    padding: 0;
    min-height: 400px;
    max-height: 500px;
}

#project-discussion-threads {
    flex-basis: 25%;
    border-right: 1px solid rgba(34,36,38,.22);
}

#project-discussion-messages {
    flex-basis: 75%;
    align-items: stretch;
}

#project-threads-container {
    height: 100%;
}

#project-threads-list-container {
    height: 100%;
    overflow-y: scroll;
}

#project-messages-container {
    height: 100%;
}

#project-threads-header-container {
    border-bottom: 1px solid rgba(34,36,38,.15);
    min-height: 55px;
    max-height: 55px;
    align-items: center;
    padding: 2% 2% 2% 4%;
    -webkit-box-shadow: 0 5px 5px -5px rgb(224, 224, 224);
    box-shadow: 0 5px 5px -5px rgb(224, 224, 224);
    z-index: 50;
}

#project-messages-header-container {
    border-bottom: 1px solid rgba(34,36,38,.15);
    min-height: 55px;
    max-height: 55px;
    align-items: center;
    padding-left: 1%;
    -webkit-box-shadow: 0 5px 5px -5px rgb(224, 224, 224);
    box-shadow: 0 5px 5px -5px rgb(224, 224, 224);
    z-index: 50;
}

#project-messages-chat-container {
    background-color: rgba(251, 251, 251, 0.5);
    padding: 2%;
    height: 100%;
    overflow-y: scroll;
}

.project-threads-list-item {
    border-bottom: 1px solid rgba(34,36,38,.15);
    padding: 3%;
    background-color: rgba(244,244,244,0.3);
    cursor: pointer;
}

.project-threads-list-item.active {
    background-color: rgba(240,240,240,0.9);
}

.project-threads-list-title {
    font-size: 1.05rem;
    font-weight: 600;
    margin-bottom: 4px;
}

.project-threads-list-title.active {
    color: #00437E;
}

.project-threads-list-descrip {
    font-size: 0.95rem;
    font-weight: 400;
    color: #616970;
}

#project-messages-reply-container {
    border-top: 1px solid rgba(34,36,38,.15);
    -webkit-box-shadow: 0 -5px 5px -5px rgb(224, 224, 224);
    box-shadow: 0 -5px 5px -5px rgb(224, 224, 224);
    padding: 0.5%;
    display: flex;
    flex-direction: row;
/*
display: flex;
flex-direction: row;
*/
}

#project-messages-message-input {
    width: 100%;
}

.project-messages-message {
    margin-bottom: 1em;
}

#project-messages-header-options {
    padding-right: 0.5%;
}

#project-messages-chat-list {
    max-width: 100%;
}

.project-task-title {
    font-weight: 450;
}

.project-task-detail {
    display: block;
    width: 98%;
    margin-left: auto;
}

.project-task-detail.hidden {
    display: none;
}

.project-task-subtask {
    border-bottom: 1px solid rgba(34,36,38,.15);
}

.project-task-subtask:last-child {
    border-bottom: none;
}


#project-messages-reply-inputcontainer {
    flex-basis: 80%;
}

#project-messages-reply-sendcontainer {
    flex-basis: 10%;
}

.project-messages-reply-input {
    height: 100%;
    width: 100%;
}

.project-messages-reply-input__input {
    color: rgba(0,0,0,.87);
    font-weight: 400;
    border: 1px solid rgba(34,36,38,.15);
    border-radius: .28571429rem 0 0 .28571429rem;
    outline: 0;
    font-family: 'Lato', 'Helvetica Neue', 'Arial', 'Helvetica', sans-serif;
    line-height: 1.21428571em;
    padding: .67857143em 1em;
}

.project-messages-reply-input__input:focus {
    border-color: #85B7D9;
}


 /** Timeline — Construction Roadmap **/
 #project-roadmap-heading {
     margin: 0;
     display: inline-block;
 }

 #project-roadmap-segment {
     padding: 0;
     /*
     background: #f9fafb;
     box-shadow: 0 2px 25px 0 rgb(34 36 38 / 5%) inset;
     -webkit-box-shadow: 0 2px 25px 0 rgb(34 36 38 / 5%) inset;
     max-height: 500px;
     overflow-y: scroll;
     */
 }

 #project-roadmap-container {
     display: flex;
     flex-direction: row;
     width: 100%;
     margin: 0;
     padding: 0;
     min-height: 400px;
     max-height: 500px;
 }

 #project-roadmap-steps {
     flex-basis: 25%;
     border-right: 1px solid rgba(34,36,38,.22);
 }

 #project-roadmap-steps-container {
     height: 100%;
 }

 #project-roadmap-steps-list-container {
     height: 100%;
     overflow-y: scroll;
 }

 #project-roadmap-steps-header-container {
     border-bottom: 1px solid rgba(34,36,38,.15);
     min-height: 55px;
     max-height: 55px;
     align-items: center;
     padding: 2% 2% 2% 4%;
     -webkit-box-shadow: 0 5px 5px -5px rgb(224, 224, 224);
     box-shadow: 0 5px 5px -5px rgb(224, 224, 224);
     z-index: 50;
 }

 #project-roadmap-stepdetail {
     flex-basis: 75%;
     align-items: stretch;
 }

 #project-roadmap-stepdetail-container {
     height: 100%;
 }

 #project-roadmap-stepdetail-header-container {
     border-bottom: 1px solid rgba(34,36,38,.15);
     min-height: 55px;
     max-height: 55px;
     align-items: center;
     padding-left: 1%;
     -webkit-box-shadow: 0 5px 5px -5px rgb(224, 224, 224);
     box-shadow: 0 5px 5px -5px rgb(224, 224, 224);
     z-index: 50;
 }

 #project-roadmap-stepdetail-info-container {
     background-color: rgba(251, 251, 251, 0.5);
     padding: 2%;
     height: 100%;
     overflow-y: scroll;
 }

 .project-roadmap-steps-list-item {
     border-bottom: 1px solid rgba(34,36,38,.15);
     padding: 3%;
     background-color: rgba(244,244,244,0.3);
     cursor: pointer;
 }

 .project-roadmap-steps-list-item.active {
     background-color: rgba(240,240,240,0.9);
 }

 .project-roadmap-steps-list-title {
     font-size: 1.05rem;
     font-weight: 600;
     margin-left: 2%;
     margin-bottom: 10px;
     display: inline-block;
 }

 .project-roadmap-steps-list-title.active {
     color: #00437E;
 }

 .project-roadmap-steps-list-descrip {
     font-size: 0.95rem;
     font-weight: 400;
     color: #616970;
     display: block;
     padding-left: 1.7em;
 }

 .project-roadmap-step-radio {
     display: inline-block !important;
 }

 .project-roadmap-step-list-info {
     width: 90%;
 }

 .project-roadmap-step-list-icon {
     width: 10%;
 }

 .project-roadmap-step-disabled {
     opacity: .45;
 }
