body {
    margin: 0;
    padding: 0;
    min-height: 100%;
    background-color: #F2F2F2 !important;
    width: 100%;
    overflow-x: hidden;
    overflow-y: scroll;
}

.App {
    min-height: 100%;
    width: 100%;
    flex: 1 0 auto;
    box-sizing: border-box;
}

.conductor {
    height: 100vh;
}

.commons {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

.standalone {
    height: 100vh;
}

.support-widget {
    position: fixed;
    z-index: 9999;
    display: inline-flex;
    bottom: 0px;
    /* margins will be automatically added */
    right: 0px;
    margin-right: 10px;
    /* margins will be automatically added */
}

.component-container {
    margin: calc(60px + 2%) 2% 0 2% !important;
    width: calc(100% - 4%) !important;
    z-index: 50;
}

.component-header {
    font-size: 2.5em !important;
}

.component-innercontainer {
    padding: 0 1% 0 1% !important;
}

.library-glyph {
    width: 1.18em;
    margin-right: 0.5rem !important;
    display: inline-block !important;
}

.fullheight-menu {
    height: 100% !important;
}

.button-float-right {
    display: inherit !important;
    margin-left: auto !important;
}

.container-hidden {
    display: none !important;
}

.gray-span {
    color: gray;
    font-size: 75%;
}

.text-header {
    font-size: 1.28571429rem;
    font-family: Lato, 'Helvetica Neue', Arial, Helvetica, sans-serif;
    font-weight: 700;
    color: rgba(0, 0, 0, .87);
}

.formheader {
    margin: 2% 0 2% 0 !important;
}

.resource-id-span {
    color: gray;
    float: right;
}

.pane-segment {
    padding: 0 !important;
}

.text-link {
    color: #4b58e6;
}

.text-link:hover {
    cursor: pointer;
}

.text-bold {
    font-weight: bold;
}

.cursor-pointer {
    cursor: pointer;
}

.cursor-pointer:hover {
    cursor: pointer;
}

.cursor-default:hover {
    cursor: default;
}

.cursor-notallowed:hover {
    cursor: not-allowed;
}

.bkgrd-gray {
    background-color: #F9F9F9 !important;
}

.color-libreblue {
    color: #127BC4 !important;
}

.color-semanticred {
    color: #db2828;
}

.color-semanticteal {
    color: #00b5ad;
}

.color-semanticblue {
    color: #2185d0;
}

.color-semanticgreen {
    color: #21ba45;
}

.no-margin {
    margin: 0 !important;
}

.text-button {
    background: none !important;
    border: none;
    padding: 0 !important;
    cursor: pointer;
}

.button-text-link {
    background-color: transparent;
    border-width: 0;
    font-family: inherit;
    font-size: inherit;
    font-style: inherit;
    font-weight: inherit;
    line-height: inherit;
    padding: 0;
    color: var(--link-color);
    cursor: pointer;
}

.semantic-textarea-font textarea {
    font-family: Lato, 'Helvetica Neue', Arial, Helvetica, sans-serif;
}

.underline-hover {
    border-bottom: 1px dashed #6c757d;
}

.underline-hover:hover {
    cursor: pointer;
}

/* Helper Classes */
.sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    white-space: nowrap;
    -webkit-clip-path: inset(50%);
    clip-path: inset(50%);
    border: 0;
}

.nav-menu {
    width: 100%;
    height: 60px !important;
    background-color: #FFFFFF !important;
    position: fixed;
    top: 0;
    left: 0;
    margin: 0 !important;
    z-index: 100;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.nav-mobile-avatar {
    height: 20px !important;
    width: 20px !important;
    margin: 0 !important;
}

.nav-menu-link {
    font-size: 1.05em;
}

.nav-logo {
    width: auto !important;
    max-height: 50px !important;
    padding: top 1% !important;
    padding-bottom: 1% !important;
}

.nav-logo:hover {
    background: transparent !important;
}

.nav-search-input input::placeholder {
    color: rgba(0, 0, 0, .85) !important;
}

.form-required::after {
    margin: -.2em 0 0 .2em;
    content: '*';
    color: #db2828;
    display: inline-block;
    vertical-align: top;
}

.form-field-label {
    font-size: .92857143em !important;
    font-weight: 700;
}

.form-error-label {
    color: #9f3a38 !important;
}

.form-error-input input {
    background: #fff6f6 !important;
    border-color: #e0b4b4 !important;
    color: #9f3a38 !important;
    border-radius: '' !important;
    box-shadow: none !important;
}

.form-error-input input::placeholder {
    color: #e7bdbc;
}

.text-area-small>textarea {
    height: 3em
}

.disabled-input {
    opacity: 0.45;
}

.hiddensection {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
}

.hiddensection>.header-container {
    flex-basis: 75%;
}

.hiddensection>.button-container {
    flex-basis: 25%;
}

.hideablesection {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.hideablesection>.button-container {
    flex-basis: 25%;
}

.hideablesection>.header {
    margin: 0;
    flex-basis: 75%;
}

.text-center {
    text-align: center;
}

.text-center-force {
    text-align: center !important;
}

.pointer-hover:hover {
    cursor: pointer;
}

.word-break-all {
    word-break: break-all;
}

.word-break-word {
    word-break: break-word;
}

/** Height Classes **/
.height-100vh {
    height: 100vh;
}

.height-100p {
    height: 100%;
}

.height-50p {
    height: 50%;
}

.height-75p {
    height: 75%;
}

.height-25p {
    height: 25%;
}

.height-10p {
    height: 10%;
}

.height-5p {
    height: 5%;
}

.height-1p {
    height: 1%;
}

.min-h-auto {
    min-height: auto;
}

/** padding-horizontal **/
.px-auto {
    padding-left: auto;
    padding-right: auto;
}

.px-05e {
    padding-left: 0.5em !important;
    padding-right: 0.5em !important;
}

.px-05p {
    padding-left: 0.5% !important;
    padding-right: 0.5% !important;
}

.px-1e {
    padding-left: 1em !important;
    padding-right: 1em !important;
}

.px-1p {
    padding-left: 1% !important;
    padding-right: 1% !important;
}

.px-2p {
    padding-left: 2% !important;
    padding-right: 2% !important;
}


/** padding-top **/
.pt-05e {
    padding-top: 0.5em !important;
}

.pt-05p {
    padding-top: 0.5% !important;
}

.pt-1e {
    padding-top: 1em !important;
}

.pt-1p {
    padding-top: 1% !important;
}

.pt-1r {
    padding-top: 1rem !important;
}

.pt-2e {
    padding-top: 2em !important;
}

.pt-2p {
    padding-top: 2% !important;
}

.pt-2r {
    padding-top: 2rem !important;
}

.pt-3e {
    padding-top: 3em !important;
}

.pt-3p {
    padding-top: 3% !important;
}


/** padding-bottom **/
.pb-05e {
    padding-bottom: 0.5em !important;
}

.pb-05p {
    padding-bottom: 0.5% !important;
}

.pb-1e {
    padding-bottom: 1em !important;
}

.pb-1p {
    padding-bottom: 1% !important;
}

.pb-1r {
    padding-bottom: 1rem !important;
}

.pb-2e {
    padding-bottom: 2em !important;
}

.pb-2p {
    padding-bottom: 2% !important;
}

.pb-2r {
    padding-bottom: 2rem !important;
}

.pb-3p {
    padding-bottom: 3% !important;
}

.pb-3r {
    padding-bottom: 3rem !important;
}

.pb-4p {
    padding-bottom: 4% !important;
}

.pb-4r {
    padding-bottom: 4rem !important;
}

/** padding-vertical **/
.py-auto {
    padding-top: auto;
    padding-bottom: auto;
}

.py-05e {
    padding-top: 0.5em !important;
    padding-bottom: 0.5em !important;
}

.py-05p {
    padding-top: 0.5% !important;
    padding-bottom: 0.5% !important;
}

.py-1e {
    padding-top: 1em !important;
    padding-bottom: 1em !important;
}

.py-1p {
    padding-top: 1% !important;
    padding-bottom: 1% !important;
}

.py-1r {
    padding-top: 1rem !important;
    padding-bottom: 1rem !important;
}

.py-2e {
    padding-top: 2em !important;
    padding-bottom: 2em !important;
}

.py-2p {
    padding-top: 2% !important;
    padding-bottom: 2% !important;
}

.py-2r {
    padding-top: 2rem !important;
    padding-bottom: 2rem !important;
}

/** padding-left **/
.pl-2p {
    padding-left: 2% !important;
}

.pl-4p {
    padding-left: 4% !important;
}

/** padding-right **/
.pr-05e {
    padding-right: 0.5em !important;
}

.pr-05p {
    padding-right: 0.5% !important;
}

.pr-1e {
    padding-right: 1em !important;
}

.pr-1p {
    padding-right: 1% !important;
}

.pr-1r {
    padding-right: 1rem !important;
}

.pr-2p {
    padding-right: 2% !important;
}

.pr-4p {
    padding-right: 4% !important;
}

/** padding-horizontal **/
.px-auto {
    padding-left: auto;
    padding-right: auto;
}

.px-05e {
    padding-left: 0.5em !important;
    padding-right: 0.5em !important;
}

.px-05p {
    padding-left: 0.5% !important;
    padding-right: 0.5% !important;
}

.px-1e {
    padding-left: 1em !important;
    padding-right: 1em !important;
}

.px-1p {
    padding-left: 1% !important;
    padding-right: 1% !important;
}

.px-1r {
    padding-left: 1rem !important;
    padding-right: 1rem !important;
}

.px-2p {
    padding-left: 2% !important;
    padding-right: 2% !important;
}

.px-2r {
    padding-left: 2rem !important;
    padding-right: 2rem !important;
}

.px-3p {
    padding-left: 3% !important;
    padding-right: 3% !important;
}

.px-3r {
    padding-left: 3rem !important;
    padding-right: 3rem !important;
}

.px-4p {
    padding-left: 4% !important;
    padding-right: 4% !important;
}

.px-4p {
    padding-left: 4% !important;
    padding-right: 4% !important;
}

/** padding-vertical **/
.py-05e {
    padding-top: 0.5em !important;
    padding-bottom: 0.5em !important;
}

.py-05p {
    padding-top: 0.5% !important;
    padding-bottom: 0.5% !important;
}

.py-1e {
    padding-top: 1em !important;
    padding-bottom: 1em !important;
}

.py-1p {
    padding-top: 1% !important;
    padding-bottom: 1% !important;
}

.py-2p {
    padding-top: 2% !important;
    padding-bottom: 2% !important;
}

.py-4p {
    padding-top: 4% !important;
    padding-bottom: 4% !important;
}

/** padding-all **/
.pa-05e {
    padding: 0.5em !important;
}

.pa-05p {
    padding: 0.5% !important;
}

.pa-1e {
    padding: 1em !important;
}

.pa-1p {
    padding: 1% !important;
}

.pa-2p {
    padding: 2% 2% !important;
}

.pa-4p {
    padding: 4% 4% !important;
}

.pa-1r {
    padding: 1rem !important;
}

.pa-2r {
    padding: 2rem !important;
}

.pa-3r {
    padding: 3rem !important;
}

.pa-4r {
    padding: 4rem !important;
}

.margin-none {
    margin: 0;
}

/** margin-horizontal **/
.mx-auto {
    margin-left: auto;
    margin-right: auto;
}

.mx-05e {
    margin-left: 0.5em !important;
    margin-right: 0.5em !important;
}

.mx-05p {
    margin-left: 0.5% !important;
    margin-right: 0.5% !important;
}

.mx-1e {
    margin-left: 1em !important;
    margin-right: 1em !important;
}

.mx-1p {
    margin-left: 1% !important;
    margin-right: 1% !important;
}

.mx-1r {
    margin-left: 1rem !important;
    margin-right: 1rem !important;
}

.mx-2e {
    margin-left: 2em !important;
    margin-right: 2em !important;
}

.mx-2p {
    margin-left: 2% !important;
    margin-right: 2% !important;
}

.mx-2r {
    margin-left: 2rem !important;
    margin-right: 2rem !important;
}

.mx-3e {
    margin-left: 3em !important;
    margin-right: 3em !important;
}

.mx-3p {
    margin-left: 3% !important;
    margin-right: 3% !important;
}

.mx-3r {
    margin-left: 3rem !important;
    margin-right: 3rem !important;
}

.mx-4e {
    margin-left: 4em !important;
    margin-right: 4em !important;
}

.mx-4p {
    margin-left: 4% !important;
    margin-right: 4% !important;
}

.mx-4r {
    margin-left: 4rem !important;
    margin-right: 4rem !important;
}

/** margin-vertical **/
.my-auto {
    margin-top: auto;
    margin-bottom: auto;
}

.my-05e {
    margin-top: 0.5em !important;
    margin-bottom: 0.5em !important;
}

.my-05p {
    margin-top: 0.5% !important;
    margin-bottom: 0.5% !important;
}

.my-05r {
    margin-top: 0.5rem !important;
    margin-bottom: 0.5rem !important;
}

.my-1e {
    margin-top: 1em !important;
    margin-bottom: 1em !important;
}

.my-1p {
    margin-top: 1% !important;
    margin-bottom: 1% important;
}

.my-1r {
    margin-top: 1rem !important;
    margin-bottom: 1rem !important;
}

.my-2e {
    margin-top: 2em !important;
    margin-bottom: 2em !important;
}

.my-2p {
    margin-top: 2% !important;
    margin-bottom: 2% !important;
}

.my-2r {
    margin-top: 2rem !important;
    margin-bottom: 2rem !important;
}

.my-3e {
    margin-top: 3em !important;
    margin-bottom: 3em !important;
}

.my-3p {
    margin-top: 3% !important;
    margin-bottom: 3% !important;
}

.my-3r {
    margin-top: 3rem !important;
    margin-bottom: 3rem !important;
}

.my-4p {
    margin-top: 4% !important;
    margin-bottom: 4% !important;
}

.my-4r {
    margin-top: 4rem !important;
    margin-bottom: 4rem !important;
}

/** margin-top **/
.mt-05e {
    margin-top: 0.5em !important;
}

.mt-05p {
    margin-top: 0.5% !important;
}

.mt-05r {
    margin-top: 0.5rem !important;
}

.mt-1e {
    margin-top: 1em !important;
}

.mt-1p {
    margin-top: 1% !important;
}

.mt-1r {
    margin-top: 1rem !important;
}

.mt-2e {
    margin-top: 2em !important;
}

.mt-2p {
    margin-top: 2% !important;
}

.mt-2r {
    margin-top: 2rem !important;
}

.mt-3e {
    margin-top: 3em !important;
}

.mt-3p {
    margin-top: 3% !important;
}

.mt-3r {
    margin-top: 3rem !important;
}

.mt-4p {
    margin-top: 4% !important;
}

.mt-4r {
    margin-top: 4rem !important;
}

/** margin-bottom **/
.mb-05e {
    margin-bottom: 0.5em !important;
}

.mb-05p {
    margin-bottom: 0.5% !important;
}

.mb-05r {
    margin-bottom: 0.5rem !important;
}

.mb-1e {
    margin-bottom: 1em !important;
}

.mb-1p {
    margin-bottom: 1% !important;
}

.mb-1r {
    margin-bottom: 1rem !important;
}

.mb-2e {
    margin-bottom: 2em !important;
}

.mb-2p {
    margin-bottom: 2% !important;
}

.mb-2r {
    margin-bottom: 2rem !important;
}

.mb-3p {
    margin-bottom: 3% !important;
}

.mb-3r {
    margin-bottom: 3rem !important;
}

.mb-4p {
    margin-bottom: 4% !important;
}

.mb-4r {
    margin-bottom: 4rem !important;
}

.mb-5r {
    margin-bottom: 5rem !important;
}

.mb-6r {
    margin-bottom: 6rem !important;
}

.mb-7r {
    margin-bottom: 7rem !important;
}

/** margin-left **/
.ml-025e {
    margin-left: 0.25em !important;
}

.ml-025p {
    margin-left: 0.25% !important;
}

.ml-025r {
    margin-left: 0.25rem !important;
}

.ml-05e {
    margin-left: 0.5em !important;
}

.ml-05p {
    margin-left: 0.5% !important;
}

.ml-05r {
    margin-left: 0.5rem !important;
}

.ml-1e {
    margin-left: 1em !important;
}

.ml-1p {
    margin-left: 1% !important;
}

.ml-1r {
    margin-left: 1rem !important;
}

.ml-2e {
    margin-left: 2em !important;
}

.ml-2p {
    margin-left: 2% !important;
}

.ml-2r {
    margin-left: 2rem !important;
}

/** margin-right **/
.mr-05e {
    margin-right: 0.5em !important;
}

.mr-05p {
    margin-right: 0.5% !important;
}

.mr-05r {
    margin-right: 0.5rem !important;
}

.mr-1e {
    margin-right: 1em !important;
}

.mr-1p {
    margin-right: 1% !important;
}

.mr-1r {
    margin-right: 1rem !important;
}

.mr-2e {
    margin-right: 2em !important;
}

.mr-2p {
    margin-right: 2% !important;
}

.mr-2r {
    margin-right: 2rem !important;
}

.mr-3p {
    margin-right: 3% !important;
}

.mr-3r {
    margin-right: 3rem !important;
}

.mr-4p {
    margin-right: 4% !important;
}

.mr-4r {
    margin-right: 4rem !important;
}

/** margin-all **/
.ma-05e {
    margin: 0.5em !important;
}

.ma-05p {
    margin: 0.5% !important;
}

.ma-1e {
    margin: 1em !important;
}

.ma-1p {
    margin: 1% !important;
}

.ma-1r {
    margin: 1rem !important;
}

.ma-2e {
    margin: 2em !important;
}

.ma-2p {
    margin: 2% !important;
}

.ma-2r {
    margin: 2rem !important;
}

.ma-3e {
    margin: 3em !important;
}

.ma-3p {
    margin: 3% !important;
}

.ma-3r {
    margin: 3rem !important;
}

.ma-4e {
    margin: 4em !important;
}

.ma-4p {
    margin: 4% !important;
}

.ma-4r {
    margin: 4rem !important;
}

.float-left {
    float: left !important;
}

.float-right {
    float: right !important;
}

.muted-text {
    color: #6c757d !important;
}

.center-block {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.flex {
    display: flex;
}

.flex-row-div {
    display: flex;
    flex-direction: row;
}

.flex-col-div {
    display: flex;
    flex-direction: column;
}

.flex-row-verticalcenter {
    align-items: center;
}

.left-flex {
    display: flex;
    flex: 1;
    justify-content: flex-start;
    align-items: center;
}

.center-flex {
    display: flex;
    flex: 1;
    justify-content: center;
    align-items: center;
}

.right-flex {
    display: flex;
    flex: 1;
    justify-content: flex-end;
    align-items: center;
}

.justify-evenly {
    justify-content: space-evenly;
}

.justify-between {
    justify-content: space-between;
}

.flex-wrap {
    flex-wrap: wrap;
}

.flex-break {
    flex-basis: 100%;
    height: 0;
}

.flex-break-column {
    flex-basis: 100%;
    width: 0;
}

.align-center {
    align-items: center;
}

.align-start {
    align-items: flex-start;
}

.align-end {
    align-items: flex-end;
}

.align-stretch {
    align-items: stretch;
}

.align-baseline {
    align-items: baseline;
}

.align-self-center {
    align-self: center;
}

.align-self-start {
    align-self: flex-start;
}

.align-self-end {
    align-self: flex-end;
}

.align-self-stretch {
    align-self: stretch;
}

.align-self-baseline {
    align-self: baseline;
}

.justify-center {
    justify-content: center;
}

.justify-start {
    justify-content: flex-start;
}

.justify-end {
    justify-content: flex-end;
}

.justify-stretch {
    justify-content: stretch;
}

.justify-baseline {
    justify-content: baseline;
}

.justify-self-center {
    justify-self: center;
}

.justify-self-start {
    justify-self: flex-start;
}

.justify-self-end {
    justify-self: flex-end;
}

.justify-self-stretch {
    justify-self: stretch;
}

.justify-self-baseline {
    justify-self: baseline;
}

.clear-grid {
    clear: both !important;
}

.multiline-display {
    white-space: pre-line !important;
}

.inlineblock-display {
    display: inline-block !important;
}

.contrast-link {
    color: #4b58e6;
}

.no-display {
    display: none;
}

.small-text {
    font-size: 0.75em;
}

code {
    padding: .2em .4em;
    margin: 0;
    font-size: 85%;
    background-color: rgba(175, 184, 193, 0.2);
    border-radius: 20px;
    white-space: pre-wrap;
}

.form-normallabel {
    font-size: 1em !important;
}

.muted-segment {
    background-color: rgba(240, 240, 240, 0.4) !important;
}

.header-icon-small {
    font-size: .75em !important;
    color: #787878 !important;
    line-height: 1 !important;
}

.header-icon-small:hover {
    color: #000000 !important;
    cursor: pointer;
}

.header-custom {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    padding-bottom: .21428571rem;
    align-items: center;
}

.header-custom h3 {
    font-size: 1.28571429rem;
    font-family: Lato, 'Helvetica Neue', Arial, Helvetica, sans-serif;
    font-weight: 700;
    text-transform: none;
    color: rgba(0, 0, 0, .87);
    margin: 0 !important;
}

.dividing-header-custom {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    padding-bottom: .21428571rem;
    border-bottom: 1px solid rgba(34, 36, 38, .15);
    align-items: center;
}

.dividing-header-custom h3 {
    font-size: 1.28571429rem;
    font-family: Lato, 'Helvetica Neue', Arial, Helvetica, sans-serif;
    font-weight: 700;
    text-transform: none;
    color: rgba(0, 0, 0, .87);
    margin: 0 !important;
}

.modal-tall-content {
    min-height: 250px;
}

.commons-page-container {
    margin: 2%;
    width: calc(100% - 4%);
    z-index: 50;
}

/* Hotfix for fullscreen modal centering */
.ui.modal.fullscreen {
    left: 0 !important;
    right: 0 !important;
}

/* Hotfix for loaders in modals */
.ui.dimmer .ui.modal .ui.loader:before {
    border-color: rgba(0, 0, 0, .1);
}

.ui.dimmer .ui.modal .ui.loader:after {
    border-color: #767676 transparent transparent;
}

/* Accessibility Overrides */
.ui.orange {
    background-color: #CD4D12 !important;
}

.x-scroll-table-container {
    width: 100% !important;
    overflow-x: auto !important;
}