body {
    margin: 0;
    padding: 0;
    min-height: 100%;
    background-color: #F2F2F2 !important;
    width:100%;
    overflow-x: hidden;
    overflow-y: scroll;
}

.App {
    min-height: 100%;
    width: 100%;
    flex: 1 0 auto;
    box-sizing: border-box;
}

.conductor {
    height: 100vh;
}

.commons {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

.standalone {
  height: 100vh;
}

.component-container {
    margin: calc(60px + 2%) 2% 0 2% !important;
    width: calc(100% - 4%) !important;
    z-index: 50;
}

.component-header {
    font-size: 2.5em !important;
}

.component-innercontainer {
    padding: 0 1% 0 1% !important;
}

.library-glyph {
    width: 1.18em;
    margin-right: 0.5rem !important;
    display: inline-block !important;
}

.fullheight-menu {
    height: 100% !important;
}

.button-float-right {
    display: inherit !important;
    margin-left: auto !important;
}

.container-hidden {
    display: none !important;
}

.gray-span {
    color: gray;
    font-size: 75%;
}

.formheader {
    margin: 2% 0 2% 0 !important;
}

.resource-id-span {
    color: gray;
    float: right;
}

.pane-segment {
    padding: 0 !important;
}

.text-link {
    color: #4b58e6;
}

.text-link:hover {
    cursor: pointer;
}

.cursor-pointer:hover {
    cursor: pointer;
}

.cursor-default:hover {
    cursor: default;
}

.cursor-notallowed:hover {
    cursor: not-allowed;
}

.bkgrd-gray {
    background-color: #F9F9F9 !important;
}

.color-libreblue {
    color: #127BC4 !important;
}

.color-semanticred {
    color: #db2828;
}

.color-semanticteal {
    color: #00b5ad;
}

.color-semanticblue {
    color: #2185d0;
}

.color-semanticgreen {
    color: #21ba45;
}

.no-margin {
    margin: 0 !important;
}

.text-button {
    background: none !important;
    border: none;
    padding: 0 !important;
    cursor: pointer;
}


/* Helper Classes */
.form-required::after {
    margin: -.2em 0 0 .2em;
    content: '*';
    color: #db2828;
    display: inline-block;
    vertical-align: top;
}

.form-field-label {
    font-size: .92857143em !important;
    font-weight: 700;
}

.form-error-label {
    color: #9f3a38 !important;
}

.hiddensection {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
}

.hiddensection > .header-container {
    flex-basis: 75%;
}

.hiddensection > .button-container {
    flex-basis: 25%;
}

.hideablesection {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.hideablesection > .button-container {
    flex-basis: 25%;
}

.hideablesection > .header {
    margin: 0;
    flex-basis: 75%;
}

.text-center {
    text-align: center;
}

.text-center-force {
    text-align: center !important;
}

.pointer-hover:hover {
    cursor: pointer;
}

/** padding-top **/
.pt-2p {
    padding-top: 2% !important;
}

/** padding-left **/
.pl-2p {
    padding-left: 2% !important;
}

.pl-4p {
    padding-left: 4% !important;
}

/** padding-right **/
.pr-2p {
    padding-right: 2% !important;
}

.margin-none {
    margin: 0;
}

/** margin-top **/
.mt-05p {
    margin-top: 0.5% !important;
}

.mt-1e {
    margin-top: 1em !important;
}

.mt-1p {
    margin-top: 1% !important;
}

.mt-1r {
    margin-top: 1rem !important;
}

.mt-2e {
  margin-top: 2em !important;
}

.mt-2p {
    margin-top: 2% !important;
}

.mt-2r {
    margin-top: 2rem !important;
}

.mt-3p {
    margin-top: 3% !important;
}

.mt-3r {
    margin-top: 3rem !important;
}

.mt-4p {
    margin-top: 4% !important;
}

.mt-4r {
    margin-top: 4rem !important;
}

/** margin-bottom **/
.mb-05p {
    margin-bottom: 0.5% !important;
}

.mb-1p {
    margin-bottom: 1% !important;
}

.mb-1r {
    margin-bottom: 1rem !important;
}

.mb-2p {
    margin-bottom: 2% !important;
}

.mb-2r {
    margin-bottom: 2rem !important;
}

.mb-3p {
    margin-bottom: 3% !important;
}

.mb-3r {
    margin-bottom: 3rem !important;
}

.mb-4p {
    margin-bottom: 4% !important;
}

.mb-4r {
    margin-bottom: 4rem !important;
}

/** margin-left **/
.ml-05p {
    margin-left: 0.5% !important;
}

.ml-1e {
    margin-left: 1em !important;
}

.ml-1p {
    margin-left: 1% !important;
}

.ml-1r {
    margin-left: 1rem !important;
}

.ml-2p {
    margin-left: 2% !important;
}

.ml-2r {
    margin-left: 2rem !important;
}

/** margin-right **/
.mr-05p {
    margin-right: 0.5% !important;
}

.mr-1p {
    margin-right: 1% !important;
}

.mr-1r {
    margin-right: 1rem !important;
}

.mr-2p {
    margin-right: 2% !important;
}

.mr-2r {
    margin-right: 2rem !important;
}

.mr-3p {
    margin-right: 3% !important;
}

.mr-3r {
    margin-right: 3rem !important;
}

.mr-4p {
    margin-right: 4% !important;
}

.mr-4r {
    margin-right: 4rem !important;
}


.float-left {
    float: left !important;
}

.float-right {
    float: right !important;
}

.muted-text {
    color: #6c757d !important;
}

.center-block {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.flex-row-div {
    display: flex;
    flex-direction: row;
}

.flex-col-div {
    display: flex;
    flex-direction: column;
}

.flex-row-verticalcenter {
    align-items: center;
}

.left-flex {
    display: flex;
    flex: 1;
    justify-content: flex-start;
    align-items: center;
}

.center-flex {
    display: flex;
    flex: 1;
    justify-content: center;
    align-items: center;
}

.right-flex {
    display: flex;
    flex: 1;
    justify-content: flex-end;
    align-items: center;
}

.flex-wrap {
    flex-wrap: wrap;
}

.flex-break {
  flex-basis: 100%;
  height: 0;
}

.flex-break-column {
  flex-basis: 100%;
  width: 0;
}

.clear-grid {
    clear: both !important;
}

.multiline-display {
    white-space: pre-line !important;
}

.inlineblock-display {
    display: inline-block;
}

.contrast-link {
    color: #4b58e6;
}

.no-display {
    display: none;
}

.small-text {
    font-size: 0.75em;
}

code {
    padding: .2em .4em;
    margin: 0;
    font-size: 85%;
    background-color: rgba(175,184,193,0.2);
    border-radius: 20px;
    white-space: pre-wrap;
}

.form-normallabel {
    font-size: 1em !important;
}

.muted-segment {
    background-color: rgba(240,240,240,0.4) !important;
}

.header-icon-small {
    font-size: .75em !important;
    color: #787878 !important;
    line-height: 1 !important;
}

.header-icon-small:hover {
    color: #000000 !important;
    cursor: pointer;
}

.header-custom {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  padding-bottom: .21428571rem;
  align-items: center;
}

.header-custom h3 {
  font-size: 1.28571429rem;
  font-family: Lato,'Helvetica Neue',Arial,Helvetica,sans-serif;
  font-weight: 700;
  text-transform: none;
  color: rgba(0,0,0,.87);
  margin: 0 !important;
}

.dividing-header-custom {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    padding-bottom: .21428571rem;
    border-bottom: 1px solid rgba(34,36,38,.15);
    align-items: center;
}

.dividing-header-custom h3 {
    font-size: 1.28571429rem;
    font-family: Lato,'Helvetica Neue',Arial,Helvetica,sans-serif;
    font-weight: 700;
    text-transform: none;
    color: rgba(0,0,0,.87);
    margin: 0 !important;
}

.modal-tall-content {
    min-height: 250px;
}

.commons-page-container {
  margin: 2%;
  width: calc(100% - 4%);
  z-index: 50;
}

/* Hotfix for fullscreen modal centering */
.ui.modal.fullscreen {
    left: 0 !important;
    right: 0 !important;
}

/* Hotfix for loaders in modals */
.ui.dimmer .ui.modal .ui.loader:before {
    border-color: rgba(0,0,0,.1);
}
            
.ui.dimmer .ui.modal .ui.loader:after {
    border-color: #767676 transparent transparent;
}

/* Accessibility Overrides */
.ui.orange {
    background-color: #CD4D12 !important;
}